[maxscale]
threads=auto
admin_host=0.0.0.0
admin_port=8989
admin_secure_gui=false

[server1]
type=server
address=mariadb-server
port=3306
protocol=MariaDBBackend

[Monitor1]
type=monitor
module=mariadbmon
user=maxscale_monitor
password=monitorpass
handle_events=false
monitor_interval=2000ms
backend_connect_timeout=3s
backend_connect_attempts=5
servers=server1

[SingleService]
type=service
router=readconnroute
servers=server1
user=maxscale_service
password=servicepass
version_string=MariaDB-MaxScale

[SingleListener]
type=listener
service=SingleService
protocol=MariaDBClient
port=4000

